@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.form-wrapper {
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    padding: 40px 40px 50px ;
    border-radius: 10px;
}

.form-wrapper h1 {
text-align: center;
}

input, textarea {
    width: 100%;
    margin: 12px 0;
    padding:12px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: none;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.btn-box button {
    padding: 8px 50px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background: #7494ec;
}

.btn-box a {
    background: transparent;
    color: #7494ec;
    border: 2px solid #7494ec;
    padding: 6px 50px;
}